{% extends "layout.html" %}

{% block content %}
    Search Owners
    <form action="/owners" method="get" class="form-inline my-2 my-lg-0">
      <input name="search_params" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <input type="submit" class="btn btn-outline-info my-2 my-sm-0" value="Search" />
    </form><br><br><br>



  Search Units
    <form action="/units" method="get" class="form-inline my-2 my-lg-0">
      <input name="search_params" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <input type="submit" class="btn btn-outline-info my-2 my-sm-0" value="Search" />
    </form>


{% endblock %}