{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

{% block content %}
  <!-- Table Header -->
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Legal Description</th>
      <th scope="col">Order Number</th>
      <th scope="col">See details</th>
    </tr>
  </thead>
  <tbody>

    {% for item in message %}
    <tr>
      <td>{{item["name"]}}</td>
      <td>{{item["legal_description"]}}</td>
      <td>{{item["order_no"]}}</td>
      <td><a href="/units/{{ item['id'] }}"  type="button" class="btn btn-outline-info btn-sm">View</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="btn-group ml-5" role="group" aria-label="First group">
    <a href="/units/new"  type="button" class="btn btn-outline-info">Add Unit</a>
  </div>

{% endblock %}