<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Units Index</title>

  </head>
  <body>
  <!-- Table Header -->
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Legal Description</th>
      <th scope="col">Order Number</th>
      <th scope="col">See details</th>
    </tr>
  </thead>
  <tbody>

    {% for item in message %}
    <tr>
      <td>{{item["name"]}}</td>
      <td>{{item["legal_description"]}}</td>
      <td>{{item["order_no"]}}</td>
      <td><a href="/units/{{ item['id'] }}"  type="button" class="btn btn-outline-info">details</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  </body>
</html>