{% extends "layout.html" %}

{% block content %}

  <h3>Unit name: {{ message[0]["name"] }}</h3>
  <h5>Unit legal description: {{ message[0]["legal_description"] }}</h5>

  <!-- Table Header -->
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Owner Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>

    {% for item in message %}
    <tr>
      <td>{{item["full_name"]}}</td>
      <td>{{item["address"]}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}