{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

  <p>{% for item in message %}

      <b>Name:</b> {{item["name"]}}<br>
      <b>Legal description:</b> {{item["legal_description"]}}<br>
      <b>Order number:</b> {{item["order_no"]}}<br>

      <a href="/units/{{ item['id'] }}/owners"  type="button" class="btn btn-outline-info">Owner list</a></td>
      {% endfor %}
  </p>

{% endblock %}

